@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html,
body,
.menu {
    font-family: 'SUIT-Regular';
}

/* by 창수 */
body {
    padding: 0;
    box-sizing: border-box;
}

nav {
    font-size: 13pt;
    font-family: 'PT Sans', Arial, Sans-serif;
    /* position: relative; */
}

nav ul {
    padding: 0;
    margin: 0 auto;
    width: auto;
}

nav a {
    line-height: 50px;
    height: 50px;
}

nav li a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav li:last-child a {
    border-right: 0;
}

nav a:hover,
nav a:active {}

nav a#pull {
    display: none;
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
    /*list-style-type: none;*/
    margin: 0;
    padding: 0;
    background-color: #c6f2fe;
    text-align: center;
    color: #000;
}

li {
    /*position: relative;*/
    display: inline-block;
}

li a {
    color: #0a0005;
    text-align: center;
    padding: 14.5px 16px;
    text-decoration: none;
}

li a:hover {
    /*color: #597812;*/
    color: #FFD400;
    font-weight: normal;
}

.menu {
    width: 100%;
    height: 50px;
    text-align: center;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #c6f2fe;
    color: white;
    position: fixed;
    z-index: 1000;
}

.container>img {
    position: absolute;
    width: 20%;
    /* height: 100%; */
    top: 25px;
    left: 10%;
    transform: translate(-50%, -50%);
}

.util__link-inner.-login {
    width: 85%;
    min-width: 4.4rem;
    margin: 0 0.2rem 0 0;
    border: 0;
    outline: 0;
    display: inline-flexbox;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.7rem;
    padding: 0.3rem 1rem 0.4rem;
    color: #fff;
    border-radius: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    background: #00256c;
    word-break: break-word;
}

.util__item-area {
    position: absolute;
    width: 100px;
    /* height: 100%; */
    top: 25px;
    left: 90%;
    transform: translate(-50%, -50%);
    pointer-events: auto;
}

/* 상단 네비 바 */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    height: 100px;
}

.flight-nav-bgd {
    width: 100%;
    height: 135px;
    background-color: #c6f2fe;
    position: fixed;
    z-index: 90;

}

.flight-nav {
    width: 90%;
    height: 85px;
    background-color: white;
    margin: 2%;
    margin-left: 60px;
    position: fixed;
    top: 50px;
    border-radius: 10px 10px;
    box-shadow: -1px 5px 9px gray;
    z-index: 99;
}

.flight-code {
    width: 300px;
    height: 50px;
    margin-left: 20px;
    margin-top: 1rem;
    display: inline-block;
}

.flight-go-code {
    display: inline-block;
    margin: 0.8rem;
    font-size: 20px;
    font-weight: bold;
}

.slash {
    font-size: 20px;
}

.flight-inner-nav {
    display: inline-block;
    margin: 0.8rem;
}

/* 좌석 선택 본문 */
.content {
    width: 100%;
    height: 1800px;
    position: relative;
    top: 10px;
}

.airplane {
    width: 55%;
    height: 1350px;
    position: relative;
    top: 100px;
    left: 100px;
}

.airplane-nav {
    display: flex;
    font-size: 30px;
    justify-content: space-around;
}

.airplane-content {
    display: flex;
    margin-top: 20px;
    height: 100%;
}

.seat-number {
    width: 10%;
    font-weight: bold;
    text-align: center;
}

.seat {
    margin-bottom: 50px;
}

.airplane-main {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.window-seat {
    width: 20%;
}

.middle-seat {
    width: 50%;
}

.window {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 45%;
    height: 50px;
    background-color: lightgray;
    border-radius: 0.5rem;
    font-size: 30px;
    cursor: pointer;
}

.yes-seat:hover {
    border: 1px solid #002F87;
    box-shadow: 0 0 5px 0;
}

.yes-child-seat:hover{
    border: 1px solid #fa027e;
    box-shadow: 0 0 5px 0;
}

.right {
    width: 45%;
    height: 50px;
    background-color: lightgray;
    border-radius: 0.5rem;
    font-size: 30px;
    cursor: pointer;
}

.middle {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}


.m {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border-radius: 0.5rem;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.2s;
}

.child-seat{
    background-color: lightpink;
}

.change-seat {
    background-color: #c6f2fe;
    border: 2px solid #002F87;
    box-shadow: 0 0 5px 0;
}

.change-seat-child {
    background-color: lightcoral;
    border: 2px solid #fa027e;
    box-shadow: 0 0 5px 0;
}

.toilet {
    font-size: 30px;
}

.no-seat {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="100%" y2="100%" stroke="gray" /></svg>');
    border: 2px solid gray;
    cursor: default;
}

.a24 {
    margin-left: 5px;
}

.a25 {
    font-size: 30px;
}

.d25 {
    margin-left: 50px;
}

.food {
    font-size: 30px;
    margin-right: 6px;
}

.num {
    display: none;
}

/* 탑승객 정보창 */
.passenger-box {
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    width: 400px;
    height: 150px;
    position: absolute;
    top: 160px;
    right: 50px;
    transition: all 0.2s;
}

.box-info {
    width: 100%;
    height: 25px;
    font-size: 20px;
    font-weight: bold;
    color: #00256c;
    text-align: center;
    margin-top: 20px;

}

.line {
    margin-top: 10px;
    color: lightgray;
}

.name-box {
    width: 100%;
    height: 30px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;

}

.btn {
    width: 100%;
}

/* 좌석 정보창 */
.select-box {
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    width: 400px;
    height: 250px;
    position: absolute;
    top: 160px;
}

.info-icon {
    margin:5px;
    margin-left: 60px;
    font-size: 17px;
}

.for-child{
    color: lightpink;
}

.info-child{
    text-align: center;
    color: #00256c;
    font-size: 13px;
    background-color: lightpink;
}

/* 좌석 선택 결과 창 */
.result-box {
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    width: 400px;
    height: 120px;
    position: absolute;
    top: 580px;
    left: 950px;
}

/* 하단 */

.footer-foot {
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: -1px -5px 12px -4px gray;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.payment-box {
    width: 100%;
    height: 100%;
    margin-left: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.next-btn {
    width: 180px;
    height: 50px;
    margin-right: 50px;

    background-color: #002F87;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 1rem;
}

/* 하단바 css */
*[class]._center {
    text-align: center !important;
}

.footer {
    width: 100%;
    height: 250px;
    /* padding: 1.6rem; */
    text-align: center;
    background-color: #f8f9fc;
    align-items: center;
}

.footer_tb {
    width: 70%;
    height: 80%;
    text-align: center;
    border-right: 1px solid #dee0e2;
    float: left;
}

.im_link {
    width: 120px;
    height: 35px;
    display: inline-block;
}

.ft_th {
    padding: 1rem;
}

.ft_bt {
    cursor: pointer;
    border-radius: 50%;
}

.ft_bt:hover {
    border: 1px solid #0064de;
    outline-offset: -4px;
}

.ft_pd {
    padding: 0.4rem;
}

.im_link3 {
    padding: 1.5rem;
}

.ft_contact {
    width: 50%;
    height: 80px;
    background-color: white;
    float: left;
}

.contact_item {
    padding-left: 50px;
    padding-top: 20px;
    font-size: 1.2rem;
    color: #00256c;
    display: inline-block;
}

.ft_contact2 {
    width: 50%;
    height: 120px;
    background-color: white;
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.ft_img1 {
    width: 70px;
    height: 42px;
    background-size: contain;
}

.ft_img2 {
    width: 70px;
    height: 70px;
    background-size: contain;
}

tbody,
.ft_contact,
.ft_contact2,
.ft_th,
.footer_box,
.contact_item,
.ft_span {
    font-size: 70%;
}

.bt_sidebox {
    height: 150px;
}

th {
    width: 400px;
}